body{
    margin: 0 ;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
    color: blueviolet;
    background-color: rgb(213, 232, 176);
    /* height: 100%;
    width: 100%; */
    margin: 0 auto;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    /* text-align: center; */
    
}

header p {
    /* text-align: left; */
    margin-left: 40px;
}

header p a {
    text-decoration: none;
}

header p a:hover{
    cursor: pointer;
}

#menu-list{
    /* position: absolute; */
   margin-top: 20px;
}

#menu-list a {
    text-decoration: none;
    margin: 20px ;
    padding: 3px;
    text-align: center; 
}

#menu-list a:hover {
    background-color: #a1d9f7;
    border-radius: 5px;
    color: palevioletred;
    cursor: pointer;
    /* text-decoration: solid; */
}

#menu-icon{
    text-align: right;
    margin-top: 20px;
    margin-right: 40px;
}

#menu-icon a {
    margin: 15px;
}

#menu-icon a:hover{
    background-color: #a1d9f7;
    border-radius: 5px;
    color: palevioletred;
    cursor: pointer;
}