body{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(213, 232, 176);
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    
}

header p {
    margin-left: 40px;
}

header p a {
    color: blueviolet;
    text-decoration: none;
}

header p a:hover {
    background-color: #a1d9f7;
    border-radius: 5px;
    color: palevioletred;
    cursor: pointer;
}

#menu-list a {
    text-decoration: none;
    color: blueviolet;
    margin: 20px;
    padding: 3px;
    text-align: center;
}

#menu-list a:hover{
    background-color: #a1d9f7;
    border-radius: 5px;
    color: palevioletred;
    cursor: pointer;
}

#menu-icon a {
    color: blueviolet;
    margin: 15px;
}

#menu-icon a:hover{
    background-color: #a1d9f7;
    border-radius: 5px;
    color: palevioletred;
    cursor: pointer;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    padding: 10px;
}

.card {
    margin: 10px;
}

.card-text{
    text-align: center;
}

.center {
    text-align: center;
}

footer{
    margin: 0;
    padding: 20px;
    background-color: ivory;
    display: flex;
    justify-content: space-between;
    color: aquamarine;
    font-weight: bold;
}
