body{
    margin: 0 ;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
    color: blueviolet;
    background-color: rgb(213, 232, 176);
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    /* text-align: center; */
    
}

header p {
    /* text-align: left; */
    margin-left: 40px;
}

header p:hover{
    background-color: #a1d9f7;
    border-radius: 5px;
    color: palevioletred;
    cursor: pointer;
}

#menu-list{
    /* position: absolute; */
   margin-top: 20px;
}

#menu-list a {
    text-decoration: none;
    color: blueviolet;
    margin: 20px ;
    padding: 3px;
    text-align: center; 
    
}

#menu-list a:hover {
    background-color: #a1d9f7;
    border-radius: 5px;
    color: palevioletred;
    cursor: pointer;
}

#image-icon{
    text-align: right;
    margin-top: 20px;
    margin-right: 40px;
}

#image-icon a {
    color: blueviolet;
    margin: 15px;

}

#image-icon a:hover{
    background-color: #a1d9f7;
    border-radius: 5px;
    color: palevioletred;
    cursor: pointer;
}

/* main p{

} */

main p img{
    width: 100%;
    padding: 40px;
    
}

footer{
    width: 100%;
    height: 100%;
    margin-top: 280px;
    padding: 30px;
    background-color: ivory;
    display: flex;
    justify-content: space-between;
    color: aquamarine;
    font-weight: bold;
}


/* body {
    background-color: blue;
    height: 2px;
} */

/* header{
    background-color: #73dd68;
    margin: 0 auto;
    padding: 0;
}

header h1 {
    margin: 0 auto;
    padding: 30px;
    text-align: center;
}

#menu {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    text-align: center;
    list-style: none;
    text-decoration-line: none;
}

#menu a{
    text-decoration: none;
    width: 10px;
    height: 3px;
    padding: 10px;
    border-radius: 3px;
    color: #fbf6f6;
    background-color: #c91515;
}

#menu a:hover{
    text-decoration: solid;

} */